body {
    background-color: #dadfe1 !important;
}

::selection {background: #ccc;}
::-moz-selection {background: #ccc;}

.container-fluid {
    margin-top: 7%;
}

.menu {
    margin-left: 5%;
    font-family: Open Sans;
    font-weight: 300;
    color: #5c5c5c;
}

.menu .pre-header {
    font-size: 14px !important;
    position: absolute !important;
    top: -15px !important;
}

.menu .title-header {
    height: 50px;
    border-bottom: 1px solid #c7ced1;
}

.menu .title-header a {
    color: #5c6a70 !important;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
}

.menu nav {
    padding-top: 24px;
    font-size: .75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu nav ul {
    padding-left: 5px;
    list-style: none;
}

.header-social {
    padding-top: 16px !important;
    margin-left: auto !important;
}

.header-social a {
    color: #5c6a70 !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.header-social a:hover {
    color: #374043 !important;
}

.menu nav ul li {
    margin:0 0 10px 0;
}

.header-nav {
    border-bottom: 1px solid #c7ced1;
}

.menu nav ul li a {
    color: #5c6a70 !important;
}

.hello-text {
    margin-left: 5%;
    margin-right: 5%;
    font-family: normal;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.content {
    margin-left: 5%;
    font-family: Open Sans;
    font-weight: 300;
    color: #5c5c5c;
    min-height: 500px;
    background-color: #ffffff;
    margin-bottom: 5%;
}

.input-forms {
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 300;
    font-family: normal;
    letter-spacing: 0.1px;
}

.content-header {
    text-align: center;
    margin-bottom: 5%;
}


.input-group>.input-group-prepend {
    flex: 0 0 9%;
}
.input-group .input-group-text {
    width: 100%;
}

.form-control:focus{
    border-color: #afb1b5 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #afb1b5 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #afb1b5 !important;
}

.custom-control-input:checked~.custom-control-label.grey::before {
    background-color: #5c5c5c;
    border-color: #afb1b5 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #afb1b5 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #afb1b5 !important;
}


.accordion-list ul {
    padding: 0;
    list-style: none;
}

.accordion-list li {
    margin-bottom: 7%;
    border-bottom: 1px solid #c7ced1;
}

.abi-func-content {
    margin-right: 2.3%;
}

.accordion-list a {
    font-family: Open Sans;
    font-weight: 300;
    letter-spacing: 2.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #5c6a70 !important;
}

.accordion-list span {
    color: #6c757d;
    font-weight: 600;
}

.button-call-abi {
    margin-top:-1%;
    margin-bottom:1%;
    width: 70px;
    margin-left: 91.3%;
}

.accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.accordion-list a.collapsed .icon-close {
    display: none;
}

.accordion-list .icon-show {
    display: none;
}

.accordion-list a.collapsed {
    color: #343a40;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}

.wrapper {
    position: relative;
}

.symbol-input200 > a > i {
    color: #5c6a70 !important;
}

.symbol-input200 > a > i:hover {
    color: #343a40 !important;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.grey-table > thead > tr > td {
    font-family: Open Sans !important;
    font-weight: 300 !important;
}

.grey-table > tbody > tr > td {
    font-family: Open Sans !important;
    font-weight: 300 !important;
}

.grey-table {
    border-collapse: separate;
    border-spacing:0 10px;
}

.href-grey {
    color: #5c6a70 !important;
    text-decoration: underline !important;
    outline: none !important;
}

.href-grey:hover, .href-grey:active {
    color: #343a40 !important;
}