/* Шрифты */

@font-face {
	font-family: 'Montserrat';
	src:url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family: 'Montserrat';
	src:url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight:500;
	font-style:normal;
}

@font-face {
	font-family: 'Montserrat';
	src:url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight:600;
	font-style:normal;
}

/* Шрифты - конец */

/* Eric Meyer's Reset CSS v2.0 */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin:0; padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;} body {line-height:1;} ol, ul {list-style:none;} blockquote, q {quotes:none;} blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;} table {border-collapse:collapse;border-spacing:0;} input,textarea {outline:none;width:100%;} input, optgroup, select, textarea, button {display:block;font-family:inherit;border-radius:0;border:none;-webkit-box-shadow:none;box-shadow:none;background:none;}
/* Eric Meyer's Reset CSS v2.0 end */

/*** ОБЩЕЕ ***/
* {
	margin:0;
	padding:0;
	outline:none;
}

*,
*:before,
*:after {
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	margin:0;
	padding:0;
	min-width:320px;
	width:100%;
	height:100%;
}

body {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	text-size-adjust:100%;
	font-size:100%;
	-webkit-font-smoothing:antialiased;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	background:#fff;
	color:#00101d;
	font-family:'Montserrat';
	cursor:default;
	overflow-x:hidden;
	overflow-y:auto;
	background:url(../images/bg.jpg) no-repeat center;
	background-size:cover;
	background-attachment:fixed;
}

.body--fixed {
	overflow:hidden!important;
}

.clear {
	width:0;
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	position:relative;
	font-size:0;
	line-height:0;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

b {
	font-weight:700;
}

i {
	font-style:italic;
}

a, .ui-btn {
	cursor:pointer;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-webkit-transition:all .4s;
	transition:all .4s;
}

.noselect {-webkit-touch-callout:none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

.disabled {pointer-events:none; cursor:default!important;}

img {
	width:100%;
	display:block;
	-webkit-transition:opacity .4s;
	transition:opacity .4s;
	opacity:1;
}

img[data-src] {
	opacity:0;
}

.text-left {
	text-align:left;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-nowrap {
	white-space:nowrap;
}

.display-ib {
	display:inline-block;
}

.tab-content,
.accordion-item,
.collapse-hidden {
	display:none;
}

.svg-sprite {
	position:absolute;
	left:-99999px;
	top:-99999px;
	width:0;
	height:0;
}

svg {
	display:block;
	width:100%;
	height:100%;
}

/* Инпуты */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	opacity:1;
	text-align:inherit;
	color:inherit;
	font-weight:600;
}
input::-moz-placeholder, 
textarea::-moz-placeholder {
	opacity:1;
	text-align:inherit;
	color:inherit;
	font-weight:600;
}
textarea::-webkit-input-placeholder {
	text-align:inherit!important;
	opacity:1;
	font-weight:600;
}
textarea::-moz-placeholder {
	text-align:inherit!important;
	opacity:1;
	font-weight:600;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity:1;
	font-weight:600;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity:1;
	font-weight:600;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	opacity:1;
	font-weight:600;
}
label {display:block;position:relative;}
input, textarea, button {-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;-webkit-border-radius:0;}
textarea {resize:none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance:none;
}

input[type='number'] {
	-moz-appearance:textfield;
}

:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
	-webkit-box-shadow:0 0 0 1000px #fff inset!important;
}

.ui-input {
	position:relative;
	cursor:text;
}

.ui-input-inner {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	background:#f7f7f7;
	border:#e6e6e6 solid 1px;
	border-radius:10px;
	-webkit-transition:border .4s, background .4s;
	transition:border .4s, background .4s;
	overflow:hidden;
}

.ui-input input,
.ui-input textarea {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	display:block;
	color:#00101d;
	font-size:16px;
	line-height:20px;
	font-weight:400;
	text-align:left;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:none;
	background:transparent;
	position:relative;
	-webkit-transition:all .4s;
	transition:all .4s;
}

.ui-input input {
	height:60px;
	padding:0 20px;
}

.ui-input textarea {
	height:120px;
	padding:20px;
}

.ui-input-text {
	display:block;
	font-size:16px;
	line-height:24px;
	font-weight:600;
	text-align:left;
	color:#555;
	cursor:text;
	padding:10px 20px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-negative:0;
	flex-shrink:0;
	-webkit-box-flex:0;
	-ms-flex-positive:0;
	flex-grow:0;
	max-width:150px;
	position:relative;
}

.ui-input-icon {
	display:block;
	width:60px;
	position:relative;
	-ms-flex-negative:0;
	flex-shrink:0;
	-webkit-transition:background .4s;
	transition:background .4s;
}

.ui-input-icon:before {
	content:'';
	position:absolute;
	left:-1px;
	top:0;
	right:-1px;
	bottom:0;
	border:#e6e6e6 solid 1px;
	border-top:none;
	border-bottom:none;
	-webkit-transition:border .4s;
	transition:border .4s;
}

.ui-input-icon svg {
	width:20px;
	height:20px;
	fill:#00101d;
	position:absolute;
	left:50%;
	top:50%;
	margin:-10px 0 0 -10px;
	-webkit-transition:fill .4s;
	transition:fill .4s;
}

html.no-touch .ui-input-icon--btn:hover {
	background:#eee;
}

html.no-touch .ui-input-icon--btn:hover svg {
	fill:#000;
}

.ui-input-icon--btn {
	cursor:pointer;
}

.ui-input-inner:hover,
.ui-input:focus-within .ui-input-inner,
.ui-input-inner:hover .ui-input-icon:before,
.ui-input:focus-within .ui-input-icon:before {
	border-color:#cbcbcb;
}

.ui-form-field:not(:last-child) {
	margin-bottom:20px;
}

/* Инпуты - конец */

/* Кнопки */

.ui-btn {
	display:block;
	width:100%;
	text-align:center;
	border-radius:10px;
	font-size:16px;
	line-height:20px;
	font-weight:600;
	padding:20px;
}

.ui-btn-text {
	position:relative;
}

.ui-btn--dark {
	background:#0d283e;
	color:#ccc;
}

.ui-btn--dark .disabled {
	background:#00101d !important;
	color:#fff !important;
	cursor: none !important;
}

html.no-touch .ui-btn--dark:hover {
	background:#00101d;
	color: #fff;
}

.ui-btn--grey {
	background:#c9f0fd;
	color:#00101d;
}

html.no-touch .ui-btn--grey:hover {
	background:#fff;
	color: #000;
}

/* Кнопки - конец */

/*** ОБЩЕЕ - конец ***/

/*** СТРАНИЦА ***/

.page {
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:1;
	margin:0 auto;
	min-height:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
}

.page-content {
	width:100%;
	position:relative;
	-webkit-box-flex:1;
	-ms-flex:1 auto;
	flex:1 auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
}

.section {
	width:100%;
	position:relative;
}

.title {
	width:100%;
	max-width:600px;
	margin:0 auto 30px auto;
	position:relative;
	text-align:center;
}

.title-head {
	font-size:38px;
	line-height:48px;
	font-weight:600;
	color: #fff;
}

.title-sub {
	font-size:18px;
	line-height:30px;
	font-weight:500;
	padding-top:10px;
	color: #fff;
}

.title--inner {
	padding-left:0!important;
	padding-right:0!important;
}

.form-section {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	padding:30px;
}

.form-section:before {
	//content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.5);
}

.container {
	position:relative;
	z-index:1;
	width:100%;
	max-width:860px;
	margin:30px auto;
	background:rgba(255,255,255,.3);
	border-radius:10px;
	padding:50px 30px;
}

.form-tabs-container {
	overflow:hidden;
	margin:0 -30px 30px -30px;
	position:relative;
}

.form-tabs-container:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	height:3px;
	background:#cbcbcb;
}

.form-tabs {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	//padding-top:1px;
	//margin-right:-1px;
}

.form-tab {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
}

.form-tab-link {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height:100%;
	text-align:center;
	padding:20px 10px;
	font-size:16px;
	line-height:20px;
	font-weight:600;
	position:relative;
	border-bottom:#ccc solid 3px;
	color: #ccc;
}

.form-tab-link:hover {
	color: #fff;
	border-bottom:#fff solid 3px;
}

.form-tab-link:before {
	//content:'';
	position:absolute;
	left:-1px;
	top:-1px;
	right:0;
	bottom:0;
	border:#ccc solid 1px;
	-webkit-transition:border .4s;
	transition:border .4s;
}

html.no-touch .form-tab-link:hover {
	border-color:#fff;
}

.form-tab.active .form-tab-link {
	color:#fff!important;
	border-color:#fff;
}

.form-tab.active .form-tab-link:before {
	border-color:#ccc;
}

.forms-container {
	max-width:760px;
	margin:0 auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	overflow:hidden;
}

.form {
	width:100%;
	-ms-flex-negative:0;
	flex-shrink:0;
	-webkit-box-flex:0;
	-ms-flex-positive:0;
	flex-grow:0;
	-webkit-box-ordinal-group:3;
	-ms-flex-order:2;
	order:2;
	opacity:0;
	visibility:hidden;
	pointer-events:none;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
}

.form.active {
	-webkit-box-ordinal-group:2;
	-ms-flex-order:1;
	order:1;
	opacity:1;
	visibility:visible;
	pointer-events:all;
}

.form-body {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
}

.form-bot {
	margin-top:30px;
}

.form-btns {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin:0 -10px -20px -10px;
}

.form-btn {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	padding:0 10px;
	margin-bottom:20px;
}

.form-btn .ui-btn {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	height:100%;
}

.form-text {
	font-size:14px;
	line-height:20px;
	margin-bottom:20px;
	color: #ccc;
}

.info-container {
	width:100%;
	max-width:760px;
	margin:0 auto;
}

.info-block {
	padding-top:40px;
}

.info-section:not(:last-child) {
	margin-bottom:30px;
}

.info-head {
	position:relative;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:#cbcbcb solid 1px;
}

.info-section--collapse .info-head {
	cursor:pointer;
	padding-right:30px;
}

.info-section--collapse .info-head:after {
	content:'';
	width:12px;
	height:12px;
	border:#00101d solid 2px;
	border-left:none;
	border-top:none;
	position:absolute;
	right:2px;
	top:11px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-transition:all .4s;
	transition:all .4s;
}

.info-section--call .info-head {
	padding-right:90px;
}

.info-call {
	position:absolute;
	right:0;
	top:5px;
}

.info-call-btn {
	display:block;
	cursor:pointer;
	height:30px;
	width:70px;
	background:#0d283e;
	color:#fff;
	font-size:12px;
	line-height:30px;
	border-radius:5px;
	-webkit-transition:background .4s;
	transition:background .4s;
}

html.no-touch .info-call-btn:hover {
	background:#00101d;
}

.info-ttl {
	font-size:18px;
	line-height:20px;
	font-weight:600;
	text-transform:uppercase;
}

.info-body {
	display:none;
	padding-top:20px;
}

.info-section.active .info-body {
	display:block;
}

.info-section--collapse.active .info-head:after {
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg);
	top:17px;
}

.form-table {
	width:100%;
	border-collapse:collapse;
}

.form-table tr {
	border-bottom:#cbcbcb solid 1px;
}

.form-table td {
	font-size:14px;
	line-height:20px;
	padding:10px 0;
}

.form-table td:nth-child(1) {
	width:40%;
	min-width:40%;
	padding-right:20px;
	font-weight:600;
	white-space:nowrap;
}

.form-table td:nth-child(2) {
	width:60%;
	min-width:60%;
}

.form-table tr:nth-child(1) td:nth-child(2) {
	word-break:break-all;
}

td {
	color: #ccc;
}

.footer {
	padding:0 30px 30px 30px;
}

.socials {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	margin-left:-10px;
	margin-right:-10px;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}

.socials-item {
	margin:0 10px;
}

.social {
	display:block;
	width:34px;
	height:34px;
	border-radius:100%;
	background:#fff;
	opacity:.6;
}

.social svg {
	fill:#00101d;
}

html.no-touch .social:hover {
	opacity: 1;
}

.info-table {
	width:100%;
	border-collapse:collapse;
}

.info-table thead {
	font-weight:600;
}

.info-table tr {
	border-bottom:#cbcbcb solid 1px;
}

.info-table td {
	font-size:14px;
	line-height:20px;
	padding:10px;
}

.info-table td:first-child {
	padding-left:0;
	width:30px!important;
}

.info-table td:last-child {
	padding-right:0;
}

.info-table td:nth-child(2) {
	word-break:break-all;
}

@media only screen and (max-width: 700px) {

.form-section {
	padding:20px;
}

.container {
	padding:40px 20px;
}

.form-tabs-container {
	margin-left:-20px;
	margin-right:-20px;
}

.footer {
	padding:0 20px 20px 20px;
}

.title-head {
	font-size:28px;
	line-height:28px;
}

.title-sub {
	font-size:16px;
	line-height:26px;
}

}

@media only screen and (max-width: 600px) {

.ui-btn {
	font-size:12px;
	padding:10px 5px;
}

}

@media only screen and (max-width: 500px) {

.title-head {
	font-size:22px;
	line-height:22px;
}

.title-sub {
	font-size:14px;
	line-height:20px;
}

.ui-input input,
.ui-input textarea {
	font-size:14px;
}

.info-ttl {
	font-size:16px;
}

.form-table td,
.info-table td {
	font-size:13px;
}

.form-btns {
	margin:0 -5px -10px -5px;
}

.form-btn {
	padding:0 5px;
	margin-bottom:10px;
}

}

@media only screen and (max-width: 400px) {

.info-ttl {
	font-size:14px;
}

}

/*** СТРАНИЦА - конец ***/